.login{
    width: 100%;
  max-width: 600px;
  margin: 10px auto;
  opacity: 80%;
}

p {
    text-align: center;
    margin: 0;  
    padding: 50px 16px;
}

h2{
    text-align: center;
}

.logintitle{
    text-align: center;
}

.btnContainer{
    display: flex;
    justify-content: center;
    gap: 30px;
}