h2{
  text-align: center;
  
}

// Remove default padding from ion-content
ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}

ion-card-title{
  font-weight: bolder;
}

p {
  text-align: center;
  margin: 0;  // Remove all default margins
  padding: 50px 16px;
}

.register {
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  opacity: 80%;
}

ion-card-title {
    text-align: center;
}

.accountExist{
  font-size: 12px;
}

// Force styles to penetrate component boundaries
::ng-deep {
  ion-label {
    font-size: 20px !important;
  }

  ion-input::part(input) {
    border-radius: 30px !important;
    border: 1px solid #ccc !important;
    padding: 8px 12px !important;
  }
}

.btnRegister{
  margin: 0 auto;
  display: flex;
}